@layer components {
  .nav-bar {
    @apply w-full h-24 sticky top-0 z-50;
    .nav-wrapper {
      @apply container px-4 h-full flex flex-row justify-between items-center;
    }
  }

  .btn {
    @apply whitespace-nowrap rounded-full font-medium transition duration-300;
    &.outline {
      &.primary {
        @apply hover:bg-primary-500 border-2 border-primary-500 text-primary-500 hover:text-white bg-transparent;
      }
      &.secondary {
        @apply hover:bg-gray-800 border-2 border-gray-800 text-gray-800 hover:text-white bg-transparent;
      }
    }

    &.primary {
      @apply bg-primary-500 text-white;
    }
    &.secondary {
      @apply bg-gray-800 text-gray-100;
    }
    &.normal {
      @apply px-6 py-2;
    }
    &.big {
      @apply px-10 py-4;
    }
  }

  @import "./home.scss";
}

html {
  scroll-behavior: smooth;
}

.dark {
  color-scheme: dark;
}
.light {
  color-scheme: light;
}

.cta-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  transition: all ease-in-out 300ms;
  p {
    margin-left: -20px;
    transition: all ease-in-out 300ms;
  }
  .arrow {
    margin-left: -40px;
    opacity: 0;
    transition: all ease-in-out 300ms;
  }
  &:hover {
    width: 220px;
    p {
      margin-left: 0;
    }
    .arrow {
      margin-left: 1rem;
      opacity: 1;
    }
  }
}
